body {
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    min-width: 330px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

header {
    background-color: #ffde1e;
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 0;
}

footer {
    height: 35px;
    background-color: #ffde1e;
    position:absolute;
    width:100%;
}

footer div{
    margin:0 auto;
    width:290px;
    font-size:14px;
    font-weight:100;
    text-align:right;
    padding-top:10px;
}

@media only screen and (min-width:650px){
    footer div{
        width:620px;
    }
}




.iconWrapper{
    position:relative;
    bottom:15px;
}

.left{
    left:10px;
}

.right{
    right:10px;
}

.icon{
    height:70px;
    width:70px;
    margin:0;
    padding:0;
}

.headerIconsAndLogo img{
    display:block;
}
.headerIconsAndLogo>div{
    display:inline-block;
}

.headerLogo {
    display: block;
    height:auto;
    width:180px;
    margin-left:auto;
    margin-right:auto;
    padding:5px 0;
}

header li{
    display:inline-block;
}

.headerIconsAndLogo{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    
}

@media only screen and (min-width: 650px) {
    .headerIconsAndLogo img{
        display:inline;
    }

    .left{
        left:-30px;
    }
    .right{
        right:-30px;
    }
    .icon{
        margin:0px 13px;
    }
}



.videoAndTextWrapper{
    padding: 15px 5%;
}

.videoWrapper{
    position: relative;
    padding-bottom:56.25%;
    padding-top:0;
    height:0;
    overflow:hidden;
}

.videoWrapper iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media only screen and (min-width: 1100px) {
    .videoAndTextWrapper{
        width:990px;
        height:100%;
        margin: 0 auto;
    }

    .videoWrapper iframe{
        width:100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }
}

    .spotifyWrapper {
        padding-top: 20px;
        width: 300px;
        margin-left:auto;
        margin-right:auto;
    }

    .spotifyWrapper > div {
        position: relative;
        padding-bottom: 360px;
        padding-top: 0;
        height: 0;
        overflow: hidden;
    }
    
    .spotifyWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none;
        /* Aligns the navbar to be centered */
        text-align: center;
        margin: 0;
        padding: 0;
    }



    .navbar {
        display: inline-block;
    }

    header > div > ul {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

        header > div > ul > li {
            width: 25%;
        }

    @media only screen and (min-width: 1000px) {
        header > div > ul > li {
            width: 250px;
        }
    }

    li a {
        border-radius: 10px;
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
        color: #ffffff;
        background-color: #FF5471;
        text-decoration: none;
        padding: 2px 0;
        margin: 3px 2px;
    }

        li a:hover {
            background-color: #fc83ac;
            color: white;
        }

    .videoTitleWrapper {
        text-align: center;
    }

    h2 {
        text-align: center;
        padding: 5px 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 4px;
    }

    h4 {
        margin: 0 0 3px 0;
    }

    h5 {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 5px 10px;
    }

    h6 {
        font-size: 14px;
        display: inline;
        color: #ffedda;
    }

    .first {
        margin-top: 8px;
    }

    .sellfyLinksWrapper {
        text-align: center;
        margin: 20px auto;
        margin-bottom: 5px;
        width: 220px;
        padding: 10px 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
    }

    .sellfyLinks {
        margin-bottom: 16px;
    }

    .comingSoon {
        padding: 8px 5px;
        background: #ff919d;
        border-radius: 10px;
        border: solid 1px #d97b86;
        width: 100px;
        margin: 8px auto;
        margin-bottom: 16px;
    }

    .shopIcons {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

        .shopIcons > div {
            display: inline-block;
        }

            .shopIcons > div > a > img {
                width: 100px;
                margin: 0 10px;
            }

    .camel {
        width: 175px;
        height: auto;
        float: left;
        position: absolute;
    }

    .camelWrapper {
        width: 175px;
        margin: 0 auto;
        padding-bottom: 92px;
        left: 70px;
        position: relative;
    }

    .rowBoat {
        width: 190px;
        height: auto;
        position: relative;
        bottom: 10px;
    }

    .rowBoatWrapper {
        width: 190px;
        margin: 0 auto;
        padding-right: 110px;
    }

    .teaAndCake {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .formWrapper {
        width: 290px;
        margin: 5px auto;
        margin-bottom: 25px;
    }

    .fieldWrapper {
        margin: 15px 2px;
    }

    label {
        padding-left: 2px;
        font-size: 15px;
    }

    textarea {
        font-family: inherit;
    }

    input[type=text], textarea {
        border: solid 2px #ccc;
        border-radius: 5px;
        width: 100%;
    }

    input[type=submit] {
        padding: 8px 20px;
        background: #555555;
        border: 0 none;
        cursor: pointer;
        border-radius: 5px;
        color: white;
        margin-left: 2px;
    }