{% extends "oodlums/base.html" %}
{% load static %}

{% block title %} Home - Oodlums {% endblock %}

{% block scripts %}{% endblock %}

{% block body %}
<div class="camelWrapper">
    <img src="{% static 'images/camelLooping.gif' %}" class="camel" />
</div>
<div class="spotifyWrapper">
    <div>
        <iframe src="https://open.spotify.com/embed?uri=spotify:user:xgrgz4gj4cqk46miwmju80fcc:playlist:42VIYbi7wr3V2xKlrH5qWv&theme=white" width="300" height="600" frameborder="0" allowtransparency="true"></iframe>
    </div>
</div>
<div class="rowBoatWrapper">
    <img src="{% static 'images/rowBoat.gif' %}" class="rowBoat" />
</div>
{% endblock %}




